/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/** Colors **/
:root {
  /* Primary */
  --very-dark-blue: rgb(7, 4, 57);
  --desaturated-blue: rgb(88, 89, 137);
  --white: rgb(255, 255, 255);

  /* Accent */
  --bright-blue: rgb(47, 101, 248);
  --moderate-cyan: rgb(60, 159, 143);

  /* Neutral */
  --light-grayish-blue: rgb(248, 248, 254);
  --light-gray: rgb(191, 191, 191);
}

/** Default Desktop Version **/
body {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}

button {
  border: none;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.13px;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  height: 45px;
  width: 200px;
}

h1,
h2,
p {
  color: var(--very-dark-blue);
  font-family: 'Raleway', sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

h2 {
  color: var(--white);
  font-weight: 700;
  font-size: 32px;
}

p {
  color: var(--desaturated-blue);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 23px;
}

a {
  color: var(--very-dark-blue);
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/** Tablet Version **/
@media (max-width: 872px) {
  body {
    padding: 40px 10px;
  }
  
  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  p {
    font-size: 14px;
    line-height: 21px;
  }
}