/** Default Desktop Version **/
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 271px;
}

header a {
  color: var(--very-dark-blue);
}

header a:hover {
  color: var(--bright-blue);
}

.top-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.top-section div {
  display: flex;
  flex-direction: column;
}

.top-section div p {
  width: 510px;
}

.top-section div form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  width: 570px;
}

.top-section div form input {
  border: 0.625px solid #07043B;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  padding-left: 20px;
  height: 42px;
  width: 300px;
}

.top-section div form input::placeholder {
  color: var(--light-gray);
}

.top-section div form button {
  background-color: var(--bright-blue);
}

.top-section div form button:hover {
  background-color: rgb(108, 155, 255);
}

.top-section img {
  height: 474px;
  width: 640px;
}

.curved-bg {
  position: absolute;
  top: 700px;
}

.middle-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-grayish-blue);
  margin-top: 140px;
}

.middle-section div p {
  margin-top: 20px;
  width: 529px;
}

.middle-section div a {
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
  color: rgba(61, 160, 143, 1);
  margin-top: 20px;
}

.middle-section div a img {
  height: 12px;
  width: 12px;
}

.middle-section div a:hover {
  color: rgb(113, 223, 204);
}

.middle-section img {
  height: 409px;
  width: 542px;
}

.middle-section div a:hover img {
  content: url(../images/icon-arrow-hover.svg);
}

.card {
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 20px;
  height: 215px;
  width: 356px;
}

.card img {
  height: 16px;
  width: 16px;
}

.card .quote {
  margin-top: 4px;
  width: 340px;
}

.card div {
  align-items: center;
  display: flex;
}

.card div img {
  border-radius: 32px;
  margin-right: 12px;
  height: 32px;
  width: 32px;
}

.card div div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card div div h1 {
  margin: 0;
  font-size: 11px;
  line-height: 16px;
  height: 15px;
}

.card div div p {
  font-size: 8px;
  margin: 0;
  width: 100%;
}

.bottom-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  left: 0;
  top: 1300px;
  width: 100%;
}

.first-section {
  align-items: center;
  background-color: var(--desaturated-blue);
  display: flex;
  justify-content: space-between;
  height: 370px;
}

.left-side {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.left-side h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.left-side p {
  color: var(--white);
  letter-spacing: 0.5px;
  width: 533px;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.right-side input {
  border: 0.625px solid #07043B;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  margin-bottom: 10px;
  padding-left: 20px;
  height: 42px;
  width: 480px;
}

.right-side input::placeholder {
  color: var(--light-gray);
}

.right-side button {
  background-color: var(--bright-blue);
}

.right-side button:hover {
  background-color: rgb(108, 155, 255);
}

.second-section {
  align-items: center;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: space-around;
  height: 391px;
}

.second-section div a {
  color: var(--white);
}

.second-section div a:hover {
  color: rgb(108, 155, 255);
}

.first-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -100px;
  height: 160px;
}

.first-grid img {
  margin-right: 12px;
}

.second-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  margin-top: 80px;
}

.third-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  margin-top: 30px;
}

.fourth-grid {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: -40px;
  width: 150px;
}

.fourth-grid img {
  cursor: pointer;
}

.fourth-grid img:hover {
  filter: invert(56%) sepia(64%) saturate(1489%) hue-rotate(196deg) brightness(100%) contrast(105%);
}

